name: Docs
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Deps for system pkgs
      run: |
        sudo apt-get -qq update
        sudo apt-get install -yqq python3-gi python3-gi-cairo gir1.2-gtk-3.0
        sudo apt-get install -yqq libgirepository1.0-dev libappindicator3-dev
        sudo apt-get install -yqq software-properties-common
        sudo add-apt-repository -y -s ppa:nerdboy/embedded
        sudo apt-get -qq update
        sudo apt-get install -yqq timew-report

    - uses: actions/setup-python@v6
      with:
        python-version: '3.9'

    - name: Add python requirements
      run: |
        python -m pip install --upgrade pip
        pip install tox

    - name: Build docs
      run: |
        tox -e ldocs
        tox -e docs

    - uses: actions/upload-artifact@v5
      with:
        name: ApiDocsHTML
        path: "docs/_build/html/"

    - name: set nojekyll for github
      run: |
        sudo touch docs/_build/html/.nojekyll

    - name: Deploy docs to gh-pages
      if: ${{ github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23  # v4.7.4
      with:
        branch: gh-pages
        folder: docs/_build/html/
        single-commit: true
